<center>


<h2 id="welcome_message" >Welcome</h2>

<form class="form login-form">
  <div class="form-group" class="w3-container">
    <label for="email-login"></label>
    <input class="form-input input is-small is-size-10" type="text" id="email-login"  placeholder="Enter Email" />
  </div>
  <div class="form-group">
    <label for="password-login"></label>
    <input class="form-input form-input input is-small is-size-10" type="password" id="password-login" placeholder="Enter Password" />
  </div>
  <div class="form-group">
    <button class="button" type="submit" id="login">login</button>
    
  </div>



  {{!-- sign up input form  --}}
 </form>

<h2 id="sign_up_header">Sign Up</h2>

<form class="form signup-form">
  <div class="form-group" class="w3-container">
    <label for="email-signup"></label>
    <input class="form-input form-input input is-small is-size-10" type="text" id="email-signup"  placeholder="Enter Email"/>
  </div>
  
  <div class="form-group" class="w3-container">
    <label for="email-username"></label>
    <input class="form-input form-input input is-small is-size-10" type="text" id="email-username"  placeholder="Enter User Name"/>
  </div>

 <div class="form-group" class="w3-container">
    <label for="password-signup"></label>
    <input class="form-input form-input input is-small is-size-10" type="password" id="password-signup" placeholder="Enter Password" />
  </div>
  <div class="form-group">
        <button class="button btn_sig" type="submit" id="signup">sign up</button>
  </div>
</form>


<div class="image"></div> 

<script src="/js/login.js"></script>
</center>

