<h1>Events Hosted by {{viewedEvent.user.username}}</h1>
<div class="row align-center mb-5">
  <div class="col-md-3">
    <h2>Event Name: {{viewedEvent.name}}</h2>
    <ul>
      {{#each viewedEvent.item as |item|}}
      <li>{{item.name}} <span>{{item.user_id}}</span></li>
      {{/each}}
            <button type="CREATE" id="add-new-event">New Event</button>
      <button type="DELETE" id="delete-event">Delete Event</button>
      <button type="SAVE" id="save-event">Save Event</button>
      <button type="EXPORT" id="export-event">Export Event</button>
      <script src="/js/event.js"></script>
    </ul>
  </div>
</div>