{{#each viewedEvent as |event| }}
<h1>Events Hosted by {{event.user.username}}</h1>
<div class="row align-center mb-5">
  <div class="col-md-3">
    <h2>Event Name: {{event.name}}</h2>
  </div>
</div>
{{/each}}